//TODO: include for responsive design or use bootsrap styles??

/* Mobile Nav ==================================================== */

/*
.mobile #search {
  padding: 5px; 
  margin: 0;
  #query {
    width: 100%;
  }
}
.mobile #mobile-nav {
    display: block;   
    margin-top: 10px;
}
.mobile #cross-domain-nav, 
.mobile #global-nav {
    display: none;
}
#mobile-nav {
    display: none; 
    background: #eae9e7; 
    font-size: .8em;
    width: 100%;
    margin: 0;
    list-style: none;
}
#mobile-cross-domain-nav, 
#mobile-global-nav {
    float: left;
    padding: 0;
    font-weight: bold;
    width: 50%;
}
#mobile-global-nav {
    text-align: right;    
}
#mobile-cross-domain-nav.active, 
#mobile-global-nav.active {
    background: #333;    
}
*/
/*opening links*/
/*
#mobile-cross-domain-nav > a, 
#mobile-global-nav > a {
    padding: 10px;
    display: block;
    border-bottom: none;
    color: #333;
}
#mobile-cross-domain-nav a {

}
#mobile-cross-domain-nav > a:hover, 
#mobile-global-nav > a:hover, 
#mobile-cross-domain-nav > a:visited, 
#mobile-global-nav > a:visited  {
    border-bottom: none;
}
#mobile-cross-domain-nav > a:hover, 
#mobile-global-nav > a:hover {
    background: #E0DBD7;
}
#mobile-cross-domain-nav > a:active, 
#mobile-global-nav > a:active {
    background: #333;    
    color: #fff;
}
#mobile-cross-domain-nav > a span, 
#mobile-global-nav > a span {
    padding-right: 20px;
    background: url("//s1.city.ac.uk/i/skin/icon-arrow-sprite.png") no-repeat scroll right -10px transparent;
}
#mobile-cross-domain-nav.active > a, 
#mobile-global-nav.active > a {
    color: #fff;  
    border-bottom: none;
} 
#mobile-cross-domain-nav.active > a:hover, 
#mobile-global-nav.active > a:hover {
    background: #333;    
}
#mobile-cross-domain-nav.active > a:focus,
#mobile-global-nav.active > a:focus {    
    background: #333;
}
#mobile-cross-domain-nav.active > a span, 
#mobile-global-nav.active > a span, 
#mobile-cross-domain-nav > a:active span, 
#mobile-global-nav > a:active span {
    background-position: right -25px;
}
*/
/*drop downs*/
/*
#sites-drop, 
#sections-drop {
  display: none;
}
#sections-drop.active, 
#sites-drop.active {
  margin: 0 auto;
  list-style: none;
  background: #333;
  padding: 2%;
  width: 96%;
  left: 0;
  position: relative;
  -moz-box-shadow: 0 5px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 5px 4px rgba(0,0,0,0.5);
  border: none;
}
#sections-drop {
    float: right;
}
#sites-drop {
    float: left;
}
#sections-drop li, 
#sites-drop li {
    background: #fff;
    display: block;
    padding: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
#sections-drop li a, 
#sites-drop li a {
    display: block;
    padding: 10px;
    border-bottom: none;
}
#sites-drop a:hover, 
#sections-drop a:hover {
    background: #f7f7f7;
}
#sites-drop a:focus, 
#sections-drop a:focus {
    background: #b02a1a;
    color: #fff;
}
#sites-drop a:active, 
#sections-drop a:active {
}
#sites-drop a span, 
#sections-drop a span  {
    border-bottom: 1px solid #ccc;
}
#sites-drop a:hover span, 
#sections-drop a:hover span, {
    border-bottom: 1px solid #f7f7f7;
}
*/
//END TODO: include for responsive design or use bootsrap styles??